<?xml version="1.0"?>
<config>
    <modules>
        <Magegiant_Wysiwyg>
            <version>1.0.1</version>
        </Magegiant_Wysiwyg>
    </modules>
    <global>
        <blocks>
            <magegiant_wysiwyg>
                <class>Magegiant_Wysiwyg_Block</class>
            </magegiant_wysiwyg>
            <magegiant_wysiwyg_adminhtml>
                <class>Magegiant_Wysiwyg_Block_Adminhtml</class>
            </magegiant_wysiwyg_adminhtml>
            <adminhtml>
                <rewrite>
                    <catalog_helper_form_wysiwyg>Magegiant_Wysiwyg_Block_Adminhtml_Catalog_Helper_Form_Wysiwyg</catalog_helper_form_wysiwyg>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <magegiant_wysiwyg>
                <class>Magegiant_Wysiwyg_Model</class>
            </magegiant_wysiwyg>
            <core>
                <rewrite>
                    <store>Magegiant_Wysiwyg_Model_Core_Store</store>
                </rewrite>
            </core>
        </models>
        <helpers>
            <magegiant_wysiwyg>
                <class>Magegiant_Wysiwyg_Helper</class>
            </magegiant_wysiwyg>
        </helpers>
        <events>
            <adminhtml_controller_action_predispatch_start>>
                <observers>
                    <magegiant_wysiwyg_set_merge_js_config_value>
                        <class>magegiant_wysiwyg/observer</class>
                        <method>setMergeJsConfigValue</method>
                    </magegiant_wysiwyg_set_merge_js_config_value>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <magegiant_wysiwyg_add_js>
                        <class>magegiant_wysiwyg/observer</class>
                        <method>addJs</method>
                    </magegiant_wysiwyg_add_js>
                </observers>
            </core_block_abstract_to_html_after>
            <adminhtml_cms_page_edit_tab_content_prepare_form>
                <observers>
                    <magegiant_wysiwyg_add_css_class>
                        <class>magegiant_wysiwyg/observer</class>
                        <method>addCmsPageCssClass</method>
                    </magegiant_wysiwyg_add_css_class>
                </observers>
            </adminhtml_cms_page_edit_tab_content_prepare_form>
            <adminhtml_block_html_before>
                <observers>
                    <magegiant_wysiwyg_static_block_add_css_class>
                        <class>magegiant_wysiwyg/observer</class>
                        <method>addStaticBlockCssClass</method>
                    </magegiant_wysiwyg_static_block_add_css_class>
                </observers>
            </adminhtml_block_html_before>
        </events>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <magegiant_wysiwyg translate="title" module="magegiant_wysiwyg">
                                            <title>magegiant</title>
                                        </magegiant_wysiwyg>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <magegiant_wysiwyg>
                    <file>magegiant/wysiwyg.xml</file>
                </magegiant_wysiwyg>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Magegiant_Wysiwyg before="Mage_Adminhtml">Magegiant_Wysiwyg_Adminhtml</Magegiant_Wysiwyg>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
